* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #34ACA7;
  list-style: none;
}

aside {
  width: 140px;
  margin-right: 44px;
}

main {
  width: 100%;
  height: 100%;
}

/*           aside-section                */
.aside-menu {
  margin-top: 3px;
}
.aside-menu .aside-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
  margin-right: -40px;
}
.aside-menu .aside-menu-item a {
  margin-left: 15px;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}

.header {
  cursor: pointer;
}

.aside-header p,
.aside-header-friend p {
  font-family: "Verdana";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 2px dashed #E5E5E5;
  margin-bottom: 10px;
}

.aside-text-block {
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  text-align: justify;
  line-height: 19px;
  margin-bottom: 15px;
}

.aside-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  cursor: pointer;
}
.aside-button img {
  width: 15px;
  height: 13px;
}
.aside-button p {
  font-size: 10px;
  line-height: 12px;
}

.aside-text-block {
  margin-top: 15px;
}

/*           main-section               */
.main-section {
  padding-top: 46px;
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: row-reverse;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: #34ACA7;
  background-repeat: no-repeat;
}

.wraper {
  display: none;
}

.wraper.active {
  display: block;
}

.wraper {
  width: 100%;
  height: 100%;
}
.wraper .tabs-content-one {
  background-image: url("/img/btn1.jpg");
  width: 100%;
  height: 63vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wraper .tabs-content-two {
  background-image: url("/img/btn2.jpg");
  width: 100%;
  height: 63vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wraper .tabs-content-three {
  background-image: url("/img/btn3.jpg");
  width: 100%;
  height: 63vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wraper .tabs-content-four {
  background-image: url("/img/logo.jpg");
  width: 100%;
  height: 63vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wraper h1 {
  text-align: center;
  padding: 10px;
  width: 272px;
  height: 49px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  background-color: #ffffffff;
}
.wraper h3 {
  width: 487px;
  height: 42px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffffff;
  background-color: #000000;
  padding: 14px;
  margin-bottom: 69px;
}

/*         tab-section           */
.tabs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  background-color: #EFF8F7;
}
.tabs .tab-item-large-active {
  border-right: 1px solid #ffffffff;
  width: 100%;
  padding: 26px 0 26px 20px;
  cursor: pointer;
}
.tabs .tab-item-large-active span {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #34ACA7;
}
.tabs p {
  font-weight: 400;
  font-size: 11px;
  line-height: 19px;
  color: #34ACA7;
}
.tabs .active {
  background-color: #D9EFEC;
}

/*               mail section                */
.subscribe-box {
  display: flex;
  margin-top: 2rem;
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 12px 18px;
}
.subscribe-box .mail {
  display: flex;
  margin-bottom: 15px;
}
.subscribe-box p {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 30px;
}
.subscribe-box-email {
  padding: 6px;
  width: 160px;
  height: 25px;
  border: 1px solid #E5E5E5;
  margin-right: 18px;
  font-size: 12px;
}
.subscribe-box .default-button {
  width: 115px;
  height: 25px;
  background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
}

/*             card section          */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.cards .card-large {
  width: 230px;
}
.cards .card-large .body {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cards .image-wrap {
  width: 230px;
}
.cards .image-wrap img {
  width: 226px;
  border: 11px solid #ffffffff;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  margin-top: 30px;
}
.cards .header {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #34ACA7;
  margin-top: 11px;
  margin-bottom: 9px;
}

/*            Footer         */
footer {
  border-top: 2px solid #E5E5E5;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  margin: 24px 0 5px 8px;
}
.nav ul {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #E5E5E5;
}

.dis-flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.dis-flex .copyright {
  font-size: 13px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #E5E5E5;
  margin-left: 12px;
}
.dis-flex .social {
  margin-top: -30px;
  margin-right: 10px;
}
.dis-flex .social svg {
  width: 32px;
}

.slider-mobil-buttons {
  display: none;
}

@media screen and (max-width: 992px) {
  .tab-item-large-active p:nth-child(2) {
    display: none;
  }

  .tab-item-large-active {
    padding: 10px 0 10px 0px !important;
    text-align: center;
  }

  .baner h1 {
    width: 269px;
  }

  .baner p {
    width: 487px;
  }

  .slider {
    height: 63vh;
  }
}
@media screen and (max-width: 768px) {
  .baner {
    background-size: cover !important;
    margin-top: 2rem;
  }

  .slider {
    margin-top: 2rem;
    background-color: #ffffffff;
  }

  .main-section {
    flex-direction: column-reverse;
  }

  .aside-tweet,
.aside-friends {
    display: none;
  }

  aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .aside-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }

  .aside-menu .aside-menu-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .aside-menu .aside-menu-item img {
    width: 22px;
  }

  .aside-menu .aside-menu-item a {
    margin-top: 5px;
    margin-left: 0;
    font-size: 12px;
  }

  .wraper h1 {
    padding: 12px;
    width: 190px;
    font-size: 15px;
    height: 40px;
  }

  .wraper h3 {
    width: 378px;
    height: 40px;
    font-size: 11px;
    line-height: 14px;
  }
}
@media screen and (min-width: 487px) and (max-width: 555px) {
  .wraper.active-sliders {
    opacity: 0;
  }

  .slider-mobil-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
  }
  .slider-mobil-buttons .prev-button {
    border: 1px solid;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
  }
  .slider-mobil-buttons .next-button {
    border: 1px solid;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
  }

  .wraper h3 {
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding: 13px;
    margin-bottom: 0;
  }

  .wraper h1 {
    text-align: start;
    opacity: 0.7;
    width: 100%;
  }

  .tabs {
    display: none;
  }

  .subscribe-box {
    margin-top: 2rem;
  }

  .aside-menu-item img {
    display: none;
  }

  aside img {
    width: 80px;
  }

  .aside-menu-item {
    font-size: 13px;
  }

  .tab-item-large-active span {
    font-size: 13px;
  }

  .subscribe-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .subscribe-box p {
    font-size: 12px;
  }

  .default-button {
    width: 76px;
  }

  .subscribe-box-email {
    width: 223px;
  }

  footer ul {
    font-size: 13px;
  }

  .social svg {
    width: 24px;
  }

  .cards .card-large {
    width: 320px;
  }
  .cards .card-large .image-wrap {
    width: 320px;
  }
  .cards .card-large .image-wrap img {
    width: 320px;
  }
}
.cards {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}

.card-large {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.image-wrap {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.image-wrap img {
  width: 350px;
}

@media screen and (max-width: 487px) {
  .wraper.active-sliders {
    opacity: 0;
  }

  .slider {
    overflow: hidden;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
  }

  .slider-mobil-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
  }
  .slider-mobil-buttons .prev-button {
    border: 1px solid;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
  }
  .slider-mobil-buttons .next-button {
    border: 1px solid;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
  }

  .tabs {
    display: none;
  }

  .subscribe-box {
    margin-top: 2rem;
  }

  .cards .card-large {
    width: 310px;
  }
  .cards .card-large .image-wrap {
    width: 310px;
  }
  .cards .card-large .image-wrap img {
    width: 310px;
  }

  .main-section {
    max-width: 100%;
    padding-top: 20px;
  }

  .aside-menu-item img {
    display: none;
  }

  aside {
    flex-direction: column-reverse;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
  }

  aside img {
    margin-top: 20px;
  }

  .aside-menu-item {
    font-size: 15px;
  }

  .aside-menu-item a {
    padding: 0;
  }

  .tab-item-large-active span {
    font-size: 13px;
  }

  .wraper h3 {
    width: 100%;
    height: 42px;
    font-size: 10px;
    padding: 14px;
    margin-bottom: 0;
  }

  .wraper h1 {
    text-align: start;
    opacity: 0.7;
    width: 100%;
  }

  .subscribe-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .subscribe-box p {
    font-size: 13px;
    text-align: justify;
  }

  .subscribe-box-email {
    width: 230px;
  }

  .subscribe-box .default-button {
    width: 63px;
  }

  .cards {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .card-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .image-wrap {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .image-wrap img {
    width: 350px;
  }

  footer {
    margin-top: 2rem;
  }

  footer ul {
    font-size: 11px;
  }

  .social svg {
    width: 18px;
  }

  .copyright {
    font-size: 10px;
  }

  .tabs .tab-item-large-active span {
    font-size: 14px;
  }

  .nav {
    margin: 12px 0 5px 0px;
  }

  .dis-flex .social {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    width: 60px;
  }

  .copyright {
    margin-left: 3px !important;
  }
}